$white: #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #e7e7e7 !default;
$gray-300: #d9d9d9 !default;
$gray-400: #c8c8c8 !default;
$gray-500: #a0a0a0 !default;
$gray-600: rgba(65, 65, 65, 0.75) !default;
$gray-700: #414141 !default;
$gray-800: #313131 !default;
$gray-900: #24292e !default;
$black: #1b1b1b !default;
$grays: () !default;

$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$orange: #fd7e14 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #00afaa !default;

$blue: #4a90e2 !default;
$dark-blue: #065784 !default;
$indigo: #45096b !default;
$red: #ff5e5e !default;
$yellow: #ffd757 !default;
$slate: $gray-700 !default;

// Background only colors
$pale-gray: #fcfcfc !default;
$pale-blue: #f5f8ff !default;
$pale-yellow: #fffdf3 !default;
$light-green: #dff0d8 !default;
$light-blue: #d8edf8 !default;
$light-red: #f2dede !default;
$light-yellow: #fcf8e2 !default;